.background {
    background-color: #f7bc4e;
}

.logo-text {
    color: #ffa600;
}

.inter-div-1 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    background-image: url(../img/piece-meca.jpg);
}

.inter-div-2 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    background-image: url(../img/mecano.jpg);
}

.navbar-brand:hover {
    color: #ffa600;
}

.logo-img {
    height: 2.5rem;
    width: auto;
}

.copyrights-text {
    font-size: 0.7rem;
}

.item-background {
    background-color: #9ad3ef;
}

.footer {
    height: 25vh;
}

.img-produit {
    height: 30vh;
    width: 100%;
    object-fit: contain;
}

.portrait-img {
    width: 15vw;
    height: auto;
}